body{
    font-family:"poppins"
    line-hight:1.4;
    background-color:#D7DCDD;
    width: 500px;
    margin: auto;
    color: black;
  }
  
  form{
    background-color:#fafbed;
    padding:2.5rem 2.5rem;
    border-radius:2rem;
    width:500px;
    margin:auto;
  }
  
  .submit-button{
    width:100%;
    padding:0.5rem;
    background-color:    #d8d8d8 ;
    border-radius:4px;
    cursor:pointer;
    color:black;
    
  }
  
  .input-headings{
    margin:0 auto 1.25rem auto;
    padding:0.25rem;
  }
  
  .from-inputs{
    display:block;
    width:90%;
    height:2rem;
    padding:0.25rem 0.75rem;
    background-color:#fff;
    border:1px solid #ced4da;
    border-radius:0.25rem;
  }